/* src/app/globals.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #f9fafb;
  color: #111827;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #737373;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Smooth transitions for app layout */
* {
  transition: all 0.15s ease-in-out;
}
